/* Default link styles */
a {
  color: black; /* Default text color */
  text-decoration: none; /* No underline by default */
}

/* Hover styles */
a:hover {
  text-decoration: underline; /* Underline on hover */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Reduce spacing between list items */
ul.list-unstyled li {
  margin-bottom: 0rem; /* Adjust the spacing between items */
}
.link-item {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

.link-item:hover {
  text-decoration: underline; /* Add underline on hover */
}


